:root {
  --special_black: rgb(11, 2, 2);
}

body {
  background-color: var(--special_black);
  color: white;
}

.menu-item {
  display: inline-block;
  width: 200px;
  height: 20px;
  position: static;
  text-align: center;
}

.flexbox {
  display: flex;
}

.navigation {
  flex: 1;
}

.content {
  flex: 3;
}

/* .articles {
  flex: 2;
} */

footer {
  position: fixed;
  bottom: 0;
}

.big-text {
  font-size: 40px;
}

h1 {
  font-family: cursive;
}

h2 {
  font-family: cursive;
}
.button {
  color: white;
}

td,
th {
  border: 1px solid white;
  padding: 10px;
}

.code-box {
  border: 1px solid white;
  padding: 10px;
  background-color: gray;
  font-family: monospace;
  color: black;
  font-weight: bold;
}
